_xmsgs/
ipcore_dir/
iseconfig/
aha_final.gise
aha_final.xise
*.html
fuse*
isim*
*isim*
xilinx*
movement_testbench_*
movement_map*
movement_p*
aha_final/_ngo/
a.wcfg
movement.bgn
movement.bld
movement.cmd_log
movement.lso
movement.ncd
movement.ngc
movement.ngd
movement.ngr
movement.pad
movement.par
movement.pcf
movement.prj
movement.ptwx
movement.syr
movement.twr
movement.twx
movement.unroutes
movement.ut
movement.xpi
movement.xst
movement_guide.ncd
movement_ngdbuild.xrpt
movement_summary.xml
movement_usage.xml
movement_xst.xrpt
webtalk_pn.xml
xlnx_auto_0_xdb/
xst/
movement.stx
pictures/
management_beh.prj
management_testbench_beh.prj
management_testbench_stx_beh.prj
my_testbench_management.wcfg
my_testbench_movement.wcfg
elevator.cmd_log
elevator.lso
elevator.prj
elevator.syr
elevator.xst
elevator_testbench_beh.prj
elevator_testbench_stx_beh.prj
elevator_xst.xrpt
my_testbench_elevator.wcfg
movement_beh.prj
movement_stx_beh.prj


